<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Jobs</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    

    <div id="job-page">


        <ul v-for = '(ad_post,index) in jobs'class="job-ads">
            <li>
                <i v-if="!starred.includes(index)" :class= 'bg_Star(index)' @click ='pushStar(index)' class="far fa-star"></i> 
                <i class="fas fa-star" v-else :class= 'bg_Star(index)' @click ='pushStar(index)'></i>
            </li>
            

            <li><button v-if="!applied.includes(index)"  @click = 'applyJob(index),removeStar(index)' >APPLY</button> <button v-else>APPLIED</button></li>
            <li>{{ad_post.company}}</li>
            <li>{{ad_post.position}}</li>
            <li>{{ad_post.description}}</li>
            <li>{{ad_post.created_at}}</li>
            <li>{{ad_post.city}}</li>
            <li>{{ad_post.contract}}</li>
        </ul>

    </div>
    <script src="./js/script.js"></script>
</body>
</html>